<h2>Job List</h2>

{% if user.is_authenticated %}

    {% if user.user_type == 'employer' %}

        <a href="{% url 'create_job' %}">
            Create Job
        </a>

    {% endif %}

{% endif %}

<hr>

{% if user.is_authenticated %}

    {% if user.user_type == 'jobseeker' %}

        <br><br>

        <a href="{% url 'my_applications' %}">
            My Applications
        </a>

    {% endif %}

{% endif %}

{% for job in jobs %}

<h3>
    <a href="{% url 'job_detail' job.id %}">
        {{ job.title }}
    </a>
</h3>

<p>
Location: {{ job.location }}
</p>

<p>
Salary: {{ job.salary }}
</p>

<hr>

{% endfor %}