
{% if user.is_authenticated %}

    {% if user.user_type == 'employer' %}

        <a href="{% url 'create_job' %}">
            Create Job
        </a>

    {% endif %}

{% endif %}

<hr>

{% if user.is_authenticated %}

    {% if user.user_type == 'jobseeker' %}

        <br><br>

        <a href="{% url 'my_applications' %}">
            My Applications
        </a>

    {% endif %}

{% endif %}

<h2>Job List</h2>

<form method="GET">

<input type="text"
       name="keyword"
       placeholder="Keyword">

<input type="text"
       name="location"
       placeholder="Location">

<input type="number"
       name="salary"
       placeholder="Minimum Salary">

<input type="number"
       name="experience"
       placeholder="Max Experience">

<button type="submit">
Search
</button>

</form>

<hr>

{% for job in jobs %}

<h3>
    <a href="{% url 'job_detail' job.id %}">
        {{ job.title }}
    </a>
</h3>

<p>
Location: {{ job.location }}
</p>

<p>
Salary: {{ job.salary }}
</p>

<hr>

{% endfor %}